.slides-container {
  display: flex;
  height: 500px;
  width: 100%;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slides-container.loaded {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.image-slides {
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.image-slides .image-slides-wrapper {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.image-slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.heading-container {
  width: 50%;
  height: 100%;
}

.heading {
  font-size: 68px;
  font-weight: bold;
  font-weight: 900;
  margin-left: 5%;
  margin-top: 20%;
}

.color__change {
  color: #73a580;
}

@media (max-width: 768px) {
  .slides-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .image-slides {
    width: 100%;
  }
}



