.jump-container {
  position: relative;
  z-index: 99999;
}


.close-button {
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;
}

.image-overlay-top {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 280px;
  clip-path: polygon(0% 100%, 100% 10%, 100% 100%, 0% 100%);
  z-index: -1;
  
}


.heading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}



.heading-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%; /* add this */
  max-height: 600px;
  transform: translateX(100%);
  animation: slideIn 3s forwards;
  transition: transform 0.8s ease-in-out;
  z-index: 2;
  display: flex; /* add this */
  flex-direction: column; /* add this */
  
}

.heading-container {
  width: 100%;
  height: 100%;
  
}

.heading-overlay {
  position: relative; /* add this */
  width: 400px;
  height: 100%;
 
}

.heading-overlay::before {
  content: ""; /* add this */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
}


.heading {
  font-size: 44px;
  font-weight: bold;
  font-weight: 700;
  margin-left: 20px;
  color: whitesmoke;
 

}


.circles-container {
  position: absolute;
  top: 70%;
  right: 5%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;
  background-color: rgb(192, 165, 8);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(20deg);
}

.circle-textmid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  line-height: 30px; /* set to the same height as the circle */
  color: whitesmoke;
  position: relative;
  font-weight: 700;
  font-size: 24px;
  
}




.image-grid-container {
  position: relative;
}


.slides-container {
  display: flex;
  height: 600px;
  width: 100%;
  opacity: 0;
  animation: fadeIn 4s forwards;
  z-index: -1;
   position: relative; /* add this */
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slides-container.loaded {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.image-slides {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-slides .image-slides-wrapper {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.image-slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.color__change {
  color: #6b6e70;
}

.jump-container {
  margin-left: 20px;
  padding-bottom: 20px;

}



@media (max-width: 770px) {
  .circles-container {
  top: 80%;
}

.image-overlay-top {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 280px;
  clip-path: polygon(0% 100%, 100% 40%, 100% 100%, 0% 100%);
  z-index: -1;
  
}


  
}

@media (max-width: 768px) {


.circle {
  height: 200px;
  width: 200px;
}



  
}

@media (max-width: 440px) {
  .heading-overlay {
  width: 350px;
}

.heading {
  font-size: 40px;
}

  
}

@media (max-width: 380px) {
  .heading-overlay {
  width: 320px;
}
 

.heading {
  font-size: 36px;
}

  
}

@media (min-width: 1600px) {
  .slides-container {
  height: 700px;
}


  
}

@media (min-width: 1700px) {
  .slides-container {
  height: 800px;
}


  
}










