


.jumping-button {
  width: 220px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: rgb(192, 165, 8);
  color: whitesmoke;
  font-size: 24px;
  font-weight: 700;
  animation: jump 0.5s ease-in-out infinite;
  transition: all 0.2s ease-in-out;
  
}

.jumping-button:hover {
  background-color: black;
  
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

